absl-py==2.3.1
accelerate==1.11.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiohttp-cors==0.8.1
aiolimiter==1.2.1
aiosignal==1.4.0
aiosqlite==0.21.0
airportsdata==20250909
annotated-doc==0.0.3
annotated-types==0.7.0
anthropic==0.71.0
antlr4-python3-runtime==4.9.3
anyio==4.11.0
apache-tvm-ffi==0.1.2
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
astor==0.8.1
asttokens @ file:///croot/asttokens_1743630435401/work
async-lru==2.0.5
async-timeout==5.0.1
attrs==25.4.0
audioread==3.1.0
av==16.0.1
babel==2.17.0
banks==2.2.0
beautifulsoup4==4.14.2
bitsandbytes==0.48.2
blake3==1.0.8
bleach==6.3.0
Brotli==1.1.0
bs4==0.0.2
cachebox==5.1.0
cachetools==6.2.1
cbor2==5.7.1
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
click==7.1.2
cloudpickle==3.1.1
codetiming==1.4.0
colorama==0.4.6
colorful==0.5.8
comm @ file:///home/task_176311912485839/conda-bld/comm_1763119193329/work
compressed-tensors==0.9.3
contourpy==1.3.2
cryptography==46.0.3
cuda-bindings==13.0.3
cuda-pathfinder==1.3.2
cuda-python==13.0.3
cupy-cuda12x==13.6.0
cycler==0.12.1
dashscope==1.24.9
dataclasses-json==0.6.7
datasets==4.0.0
debugpy @ file:///home/task_176242089189943/conda-bld/debugpy_1762421640390/work
decorator @ file:///home/task_175734097812358/conda-bld/decorator_1757341231906/work
deepspeed==0.16.4
defusedxml==0.7.1
Deprecated==1.2.18
depyf==0.18.0
dill==0.3.8
dirtyjson==1.0.8
diskcache==5.6.3
distlib==0.4.0
distro==1.9.0
dnspython==2.8.0
docstring_parser==0.17.0
dotenv==0.9.9
easydict==1.13
einops==0.8.1
email-validator==2.3.0
eval_type_backport==0.2.2
exceptiongroup==1.3.0
executing @ file:///home/task_175706097762404/conda-bld/executing_1757061230060/work
fastapi==0.120.2
fastapi-cli==0.0.14
fastapi-cloud-cli==0.3.1
fastchat==0.1.0
fastjsonschema==2.21.2
fastrlock==0.8.3
fastuuid==0.14.0
ffmpy==0.6.4
filelock==3.20.0
filetype==1.2.0
fire==0.7.1
flash_attn==2.7.0.post2
flashinfer-python==0.5.2
fonttools==4.60.1
fqdn==1.5.1
frozenlist==1.8.0
fsspec==2025.3.0
gguf==0.17.1
gitdb==4.0.12
GitPython==3.1.45
google-api-core==2.28.1
google-auth==2.47.0
google-genai==1.57.0
google_search_results==2.4.2
googleapis-common-protos==1.71.0
gradio==5.45.0
gradio_client==1.13.0
greenlet==3.2.4
griffe==1.14.0
groovy==0.1.2
grpcio==1.64.1
h11==0.16.0
hf-xet==1.2.0
hf_transfer==0.1.9
hjson==3.1.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.3
huggingface-hub==0.36.0
hydra-core==1.3.2
idna==3.11
importlib_metadata==8.0.0
infinity_client==0.0.77
iniconfig==2.3.0
interegular==0.3.3
ipykernel==7.1.0
ipython==8.37.0
ipywidgets==8.1.7
isoduration==20.11.0
isort==7.0.0
jedi @ file:///croot/jedi_1733987392413/work
jieba==0.42.1
Jinja2==3.1.6
jiter==0.11.1
jmespath==1.0.1
joblib==1.5.2
json5==0.12.1
json_repair==0.52.4
jsonlines==4.0.0
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.3
jupyter_core @ file:///home/task_176458821174145/conda-bld/jupyter_core_1764588287078/work
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.10
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.15
kiwisolver==1.4.9
langid==1.1.6
lark==1.2.2
latex2sympy2_extended==1.10.2
lazy_loader==0.4
librosa==0.11.0
lightning-utilities==0.15.2
litellm==1.79.1
llama-cloud==0.1.35
llama-cloud-services==0.6.54
llama-index==0.14.7
llama-index-cli==0.5.3
llama-index-core==0.14.7
llama-index-embeddings-openai==0.5.1
llama-index-indices-managed-llama-cloud==0.9.4
llama-index-instrumentation==0.4.2
llama-index-llms-openai==0.6.7
llama-index-readers-file==0.5.4
llama-index-readers-llama-parse==0.5.1
llama-index-workflows==2.10.3
llama-parse==0.6.54
-e git+https://github.com/hiyouga/LLaMA-Factory.git@bd24350cbff57b6d26275180ba49ab6ade50ec1c#egg=llamafactory
llguidance==0.7.30
llvmlite==0.44.0
lm-format-enforcer==0.10.12
loguru==0.7.3
loralib==0.1.2
Markdown==3.9
markdown-it-py==4.0.0
markdownify==1.2.2
MarkupSafe==3.0.3
marshmallow==3.26.1
matplotlib==3.10.7
matplotlib-inline @ file:///home/task_176277917297058/conda-bld/matplotlib-inline_1762779216380/work
mcp==1.9.3
mdurl==0.1.2
milvus-lite==2.5.1
mistral_common==1.8.5
mistune==3.1.4
model-hosting-container-standards==0.1.9
modelscope==1.31.0
mpmath==1.3.0
msgpack==1.1.2
msgspec==0.19.0
multidict==6.7.0
multiprocess==0.70.16
mypy_extensions==1.1.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio @ file:///croot/nest-asyncio_1708532673751/work
networkx==3.4.2
ninja==1.13.0
nltk==3.9.2
notebook==7.4.7
notebook_shim==0.2.4
numba==0.61.2
numpy==1.26.4
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cudnn-frontend==1.16.0
nvidia-cufft-cu12==11.2.1.3
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-cutlass-dsl==4.3.0
nvidia-ml-py==13.580.82
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvshmem-cu12==3.3.20
nvidia-nvtx-cu12==12.4.127
omegaconf==2.3.0
openai==1.109.1
openai-harmony==0.0.8
opencensus==0.11.4
opencensus-context==0.1.3
opencv-python-headless==4.11.0.86
opentelemetry-api==1.26.0
opentelemetry-exporter-otlp==1.26.0
opentelemetry-exporter-otlp-proto-common==1.26.0
opentelemetry-exporter-otlp-proto-grpc==1.26.0
opentelemetry-exporter-otlp-proto-http==1.26.0
opentelemetry-exporter-prometheus==1.12.0rc1
opentelemetry-proto==1.26.0
opentelemetry-sdk==1.26.0
opentelemetry-semantic-conventions==0.47b0
opentelemetry-semantic-conventions-ai==0.4.13
optimum==2.0.0
orjson==3.11.4
outlines==0.1.11
outlines_core==0.1.26
overrides==7.7.0
packaging @ file:///home/task_176104877067765/conda-bld/packaging_1761049113113/work
pandas==2.2.3
pandocfilters==1.5.1
parso @ file:///home/task_176278180367815/conda-bld/parso_1762781859743/work
partial-json-parser==0.2.1.1.post6
pdfminer.six==20250506
pdfplumber==0.11.7
peft==0.17.1
pexpect @ file:///home/task_176253513056498/conda-bld/pexpect_1762535937673/work
pillow==11.3.0
platformdirs @ file:///home/task_176235608007063/conda-bld/platformdirs_1762356488148/work
pluggy==1.6.0
pooch==1.8.2
prm==0.1.4
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.23.1
propcache==0.4.1
proto-plus==1.26.1
protobuf==4.25.8
psutil @ file:///home/task_176189642285093/conda-bld/psutil_1761896463775/work
ptyprocess @ file:///opt/miniconda3/conda-bld/ptyprocess_1762424170819/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=3470be7f810474c8a2ecfcd6e02acc6aea8483ab595417fa4e336362a349933e
PuLP==3.3.0
pure_eval @ file:///home/task_175706683913895/conda-bld/pure_eval_1757067047727/work
py-cpuinfo==9.0.0
py-spy==0.4.1
pyarrow==22.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybase64==1.4.2
pybind11==3.0.1
pycountry==24.6.1
pycparser==2.23
pydantic==2.12.4
pydantic-extra-types==2.10.6
pydantic-settings==2.11.0
pydantic_core==2.41.5
pydub==0.25.1
Pygments @ file:///home/task_176243133176773/conda-bld/pygments_1762431407223/work
pylatexenc==2.10
pymilvus==2.5.4
pynvml==13.0.1
pyparsing==3.2.5
pypdf==6.1.3
PyPDF2==3.0.1
pypdfium2==5.0.0
pytest==9.0.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-json-logger==4.0.0
python-multipart==0.0.20
pytz==2025.2
PyYAML==6.0.3
pyzmq @ file:///home/task_176237539786758/conda-bld/pyzmq_1762375586858/work
qwen-agent==0.0.31
qwen-vl-utils==0.0.14
ray==2.46.0
redis==7.0.1
referencing==0.37.0
regex==2025.10.23
requests==2.32.5
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.2.0
rich-toolkit==0.15.1
rignore==0.7.2
-e git+https://github.com/fxsxjtu/OAgents.git@a173debad3e641cbc28ec5e2547c9d2cb10e5f54#egg=rl_factory&subdirectory=RL-Factory
rouge-chinese==1.0.3
rpds-py==0.28.0
rsa==4.9.1
ruff==0.14.2
safehttpx==0.1.7
safetensors==0.5.3
sandbox-fusion==0.3.7
scikit-learn==1.7.2
scipy==1.15.3
seaborn==0.13.2
semantic-version==2.10.0
Send2Trash==1.8.3
sentence-transformers==5.1.2
sentencepiece==0.2.1
sentry-sdk==2.43.0
serpapi==0.1.5
setproctitle==1.3.7
shellingham==1.5.4
shtab==1.7.2
six @ file:///croot/six_1744271502820/work
smart_open==7.4.2
smmap==5.0.2
sniffio==1.3.1
soundfile==0.13.1
soupsieve==2.8
soxr==1.0.0
SQLAlchemy==2.0.44
sse-starlette==3.0.3
stack-data==0.6.3
starlette==0.49.1
striprtf==0.0.26
supervisor==4.3.0
sympy==1.13.1
tabulate==0.9.0
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensordict==0.6.0
termcolor==3.2.0
terminado==0.18.1
threadpoolctl==3.6.0
tiktoken==0.12.0
timeout-decorator==0.5.0
tinycss2==1.4.0
tokenizers==0.22.1
tomli==2.3.0
tomlkit==0.13.3
torch==2.6.0
torchaudio==2.6.0
torchdata==0.10.0
torchmetrics==1.8.2
torchvision==0.21.0
tornado @ file:///croot/tornado_1748956929273/work
tqdm==4.67.1
traitlets @ file:///croot/traitlets_1718227057033/work
transformers==4.57.1
transformers-stream-generator==0.0.5
triton==3.2.0
trl==0.9.6
typer==0.20.0
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions @ file:///croot/typing_extensions_1756280817316/work
tyro==0.8.14
tzdata==2025.2
ujson==5.11.0
uri-template==1.3.0
urllib3==2.5.0
uvicorn==0.38.0
uvloop==0.22.1
virtualenv==20.35.4
vllm==0.8.5
wandb==0.22.3
watchfiles==1.1.1
wcwidth @ file:///home/task_176777874962197/croot/wcwidth_1767779156182/work
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.1.3
widgetsnbextension==4.0.14
wordcloud==1.9.4
wrapt==1.17.3
xformers==0.0.29.post2
xgrammar==0.1.18
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
